* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 111, 23);
  }
h3
{
    color: white;
    font-size: 50px;
    text-align: center;
}

#latar
{
    font-size: 25px;
    text-align: center;
}
#latar p
{
    color: rgb(191, 196, 190);
}

 .row
{
    margin-left: 25%;
}

  .column
  {

      width:27%;
      float:left;
      margin-top: 11%;
      margin-right: 15%;
      padding:100px 10px;
  }

  .row:after{
      content:"";
      display:table;
      clear:both;
  }

 

  @media screen and (max-width:600px)
  {
      .column
      {
          width:100%;
          display:block;
          margin-bottom: 20px;
      }
  }

  .card
  {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      max-width:400px;
      margin:auto;
      background-color: rgb(137, 76, 177);
      text-align:center;
      border-radius:40px;
      padding-bottom:15px;
  }

  .title
  {
      color:rgb(80, 75, 75);
      font-size:18px;
  }

  button
  {
      border:none;
      padding:8px;
      display: inline-block;
      color:white;
      background-color:black;
      cursor:pointer;
      width:70%;
      border-radius:20px;
      font-size:18px;
      text-align:center;
  }

  a{
      text-decoration: none;
      font-size:22px;
      color:black;
  }

  a:hover,button:hover{
      opacity: 0.6;
  }