.atas img{
  width:50px ;
  height:50px;
  margin-left: 380px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}
.atas p{
  float: left;
  margin-left: 70px;
  margin-top: 30px;
  font-size: 20px;
}
#login{
  float: right;
  border: none;
  border-radius: 12px;
  margin-top: 30px;
  margin-right:10px;
}
#logout{
  float: right;
  border: none;
  border-radius: 12px;
  margin-top: 30px;
  margin-right:10px;
}
#signup{
  border: none;
  border-radius: 12px;
  float: right;
  margin-top: 30px;
  margin-right: 50px;
}

#home
{
    background: #ff6c2c;
}

.card
{
  transition: 0.5s;

}

.carousel-container
{
  position: relative;
  margin-left:380px;
  height: 290px;
  width: 50%;
  overflow: hidden;
}
.images
{
	position: relative;
	float: left;
	width: 100%;
}

@keyframes slides
{
	0%{left:100%}
	40%{left:0}
	60%{left:0}
	100%{left:-100%}
}

.slides
{
	animation-name: slides;
	animation-duration:5s; 
}

.sementara img{
  margin-top: 20px;
  margin-left: 380px;
  width:760px;
}

h4
{
    text-align: center;
    margin-bottom: 100px;
}


  footer {
    color: rgb(255, 254, 254);
    text-align: center;
    background-color:  rgb(8, 8, 8);
    width: 100%;
    height: 130px;
    margin-top: 20px;
}

.foot1
{ 
  float: left;
  text-align: center;
  margin-left:30px;
  margin-top: 10px;
}

.foot2
{
  float: left;
  text-align: center;
  margin-left:300px;
  margin-top: 10px;
}

.foot3
{
  float: left;
  text-align: center;
  margin-left:400px;
  margin-top: 10px;
}

.foot4
{
  float: left;
  text-align: center;
  margin-left:230px;
  margin-top: 10px;
}


.show
{
  display: block;
}


/* untuk card */

.column {
  float: left;
  width: 25%;
  padding: 25px 10px 10px 15px;
}

/* Remove extra left and right margins, due to padding */
.row 
{
  margin-left: 25%;
  margin-right: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}


.titleVoucher
{

  padding-top: 10px;
  padding-left: 26%;
  font-size: 20px;
  color: white;
}
.titleTop
{

  padding-top: 10px;
  padding-left: 26%;
  font-size: 20px;
  color: white;
}
.titleCode
{

  padding-top: 10px;
  padding-left: 26%;
  font-size: 20px;
  color: white;
}

.nama
{

  text-align: center;
  text-transform: none;
  padding-top: 10px;
  font-size: 15px;
  color: white;
}

.nama a:hover
{
  text-decoration: none;
  color: white;
}

.column
{
  
  width: 100%;
}
.row 
{
  margin-left: 25%;
  margin-right: 25%;
}

.row 
{
  margin-left: 25%;
  margin-right: 25%;
}

.rowKategori
{
  margin-left: 25%;
  margin-right: 25%;
}

/* Clear floats after the columns */
.rowKategori:after {
  content: "";
  display: table;
  clear: both;
}

.columnKategori {
  float: left;
  width: 25%;
  padding: 25px 10px 10px 15px;
}
@media screen and (max-width: 600px) {
  .columnKategori {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.namaKategori
{

  text-align: center;
  text-transform: none;
  padding-top: 10px;
  font-size: 15px;
  color: white;
}
.namaKategori a:hover
{
  text-decoration: none;
  color: white;
}
.cardKategori
{
  transition: 0.5s;

}

.cardKategori image
{
  border-radius: 15px;
}

.cardKategori:hover
{
  transform: scale(1.1);
}
